html 
{ 
    height:100%; 
} 
body 
{ 
    height:100%; 
    margin:0px; 
    padding:0px; 
    border-left:0px; 
    border-right:0px; 
    overflow:hidden; 
    font: 13px arial;
} 

#header 
{ 
    top:0px; 
    width:100%; 
    height:50px; 
    position:absolute; 
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -moz-box-shadow: inset 0px -1px 3px #1d1d1d;
    -webkit-box-shadow: inset 0px -1px 3px #1d1d1d;
    box-shadow: inset 0px -1px 3px #1d1d1d;
    background: #474747;
    background: -webkit-gradient(linear, left top, left bottom, from(#474747), to(#303030));
    background: -moz-linear-gradient(top, #474747, #303030);
    background: linear-gradient(top, #474747, #303030);
    
    text-align: center;
    font-size: 28px;
    color: #FFF;
    line-height: 50px;
    text-shadow: 0 -1px 1px black;
    font-weight: bold;
} 

#header div 
{
   float: left;
   width:14%;
   border-right: 1px solid #181818;
   -moz-box-shadow: 1px 0px 1px #525252;
   -webkit-box-shadow: 1px 0px 1px #525252;
   box-shadow: 1px 0px 1px #525252;
}
        
#content 
{ 
/*            top:40px; 
    bottom:40px; 
    width:100%; 
    overflow:auto; 
    position:absolute; */
} 

/*       side      */

#side {
   top:50px; 
   bottom:58px; 
   overflow:auto; 
   position:absolute;
   width: 14%;
   float:left;
   border-right: 1px solid rgb(180, 180, 180);
   text-align: center;
}

.option-controls {
   -webkit-box-flex: 1;
   -moz-box-flex: 1;
   box-flex: 1;
    line-height: 30px;
    height: 30px;
    color: rgb(60, 60, 60);
    text-shadow: 1px 1px 1px white;
    color: #333333;
    font-weight: bold;
    text-shadow: 0 1px 1px #ffffff;
    font-size: 18px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    background: #ffffff;
    background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#e0e0e1));
    background: -moz-linear-gradient(top, #ffffff, #e0e0e1);
    background: linear-gradient(top, #ffffff, #e0e0e1);
    -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: inset -1px -1px 3px #eeeeee, 1px 1px 2px rgba(0, 0, 0, 0.1);
    
}

#subtitle {
    font: bold italic 10px arial;
    color: rgb(60, 60, 60);
    text-shadow: 1px 1px 1px white;
}

#sourcePanel {    
    

/*    box-shadow: inset 0px 1px 7px -3px black;     */
}

#sourcePanel ul {
    text-align: left;
    list-style: none;
    margin-left: 2px;
    padding-left: 2px;
}

#sourcePanel li:nth-child(even) {
    background-color: rgb(220, 220, 220);
    margin-right: 4px;
}

#addSourcePanel {
    display: none;
}

#about {
    display: none;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 2em;
}

#about p{
    color: rgb(90,90,90);
    font: bold 13px arial;
    text-align: left;
}

#about a{
    color: rgb(106,122,142);
}

#sourcePanelToolbar {
   position: absolute;
   bottom: 40px;
   cursor: pointer;
   width: 14%;
   text-align: center;
   border-top: 1px solid rgba(0, 0, 0, 0.3);
   -moz-box-shadow: 1px -1px 2px rgba(0, 0, 0, 0.1);
   -webkit-box-shadow: -1px 1px 2px rgba(0, 0, 0, 0.1);
   box-shadow: 1px -1px 2px rgba(0, 0, 0, 0.1);
}

/* divide */
#vdivide {
   position: absolute;
   top:50px;
   bottom: 40px;
   left: 14%;
   width: 6px;
   border: 1px solid #c5c5c5;
   border-width: 0 1px 0 1px;
   border-right-color: rgba(0, 0, 0, 0.3);
   background: #f9f9f9;
   background: -webkit-gradient(linear, left top, right top, from(#f9f9f9), to(#dfe0e1));
   background: -moz-linear-gradient(left, #f9f9f9, #dfe0e1);
   background: linear-gradient(left, #f9f9f9, #dfe0e1);
}


/*       main      */

#main{
   top:50px; 
   bottom:40px; 
   right: 0px;
   overflow:auto; 
   position:absolute;
   width:85.5%;
   float:right;
   text-align: center;
}

#splash {
    width: 60%;
    font: bold 20px arial;
    text-align:center;
    margin-left:auto;
    margin-right:auto;
    color: rgb(90,90,90);

}

#splash a{
    color: rgb(106,122,142);
}

#pan {
    margin-top: 30px;
    font: 14px arial;
}

#top-controls .viewerButtonRight {
   line-height: 30px;
   float: left;
   height: 30px;
   padding: 0 20px;
   border-left: 1px solid rgba(0, 0, 0, 0.3);
}

#top-controls .viewerButtonLeft {
   line-height: 30px;
   height: 30px;
   padding: 0 20px;
   border-right: 1px solid rgba(0, 0, 0, 0.3);
}


#top-controls a{
    color: rgb(60, 60, 60);
}

#top-controls input {
    width: 1.5em;
    height: .8em;
}

#center-view {
   float: left;
   width: 94.9%;
   margin-left: 1%;
   margin-right: auto;       
}

#canvas-content {

   border-top-left-radius:3px;
   -moz-border-radius-topleft:3px;
   border-top-right-radius:3px;
   -moz-border-radius-topright:3px;
    overflow: auto;
}

#link-url {
    background-color: rgb(210,210,210);
    color: rgb(30,30,30);
    border: 1px solid rgb(160,160, 160);
    border-top: 0px;
    border-bottom-left-radius:4px;
    -moz-border-radius-bottomleft:4px;
    border-bottom-right-radius:4px;
    -moz-border-radius-bottomright:4px;
    width: 128px;
    float:right;
    margin-top: 0px;
    margin-right: -1px;
    padding: 1px;   
    position:absolute;
    top:30;
    right:0;
    display: none;
    box-shadow: 1px 1px 5px #1d1d1d;
    z-index: 3;
}

.slider {    
    width: 97%; 
    height: 6px; 
    font-size: 10px; 
    display: inline-block;
    /*background: rgb(30, 30, 30);*/
}

.slider div {
    background: #d8e7f3;
}

.slider div:hover {
    background: rgb(138, 177, 230);
}

#zoom{
   float:right;
   margin-right:0px;   
   z-index: 2;
   height: 50%;
   width: 28px;
   
   -moz-border-radius-topleft:3px;
   -moz-border-radius-bottomleft:3px;   
   border-top-left-radius:3px;
   border-bottom-left-radius:3px;
   padding-top: 18px;
   padding-right: 2px;
   padding-left: 2px;
   
   color: #333333;
   font-weight: bold;
   text-shadow: 0 1px 1px #ffffff;
   font-size: 12px;
   border: 1px solid rgba(0, 0, 0, 0.3);
   background: #ffffff;
   background: -webkit-gradient(linear, left top, right top, from(#ffffff), to(#e0e0e1));
   background: -moz-linear-gradient(top, #ffffff, #e0e0e1);
   background: linear-gradient(top, #ffffff, #e0e0e1);
   -moz-box-shadow: -1px 1px 2px rgba(0, 0, 0, 0.1);
   -webkit-box-shadow: -1px 1px 2px rgba(0, 0, 0, 0.1);
   box-shadow: -1px 1px 2px rgba(0, 0, 0, 0.1);
   -webkit-box-shadow: inset -1px -1px 3px #eeeeee, 1px 1px 2px rgba(0, 0, 0, 0.1);
   
}

#zoom .ui-icon, #scroll-slider-container .ui-icon, #plus .ui-icon {
   background-image: url(../images/ui-icons_000000_256x240.png);
}

#zoom-slider {
   font-size:9.5px;
   display:inline-block; 
   height: 150px;
}
.slider-title {
   font-weight: bold;
}

#scroll-slider-container{
   position: absolute;
   bottom:40px;
   width: 85.5%;
   right: 0px;
   border-top: 1px solid rgba(0, 0, 0, 0.3);
   -moz-box-shadow: 1px -1px 2px rgba(0, 0, 0, 0.1);
   -webkit-box-shadow: -1px 1px 2px rgba(0, 0, 0, 0.1);
   box-shadow: 1px -1px 2px rgba(0, 0, 0, 0.1);
   
} 

#cover-scroll-bar{
   width: 100%;
   background-color: white;
   border-top: 1px solid rgb(210,210,210);
   padding-top: 4px;
}

#scroll-slider {
   font-size:9.5px;
   width: 300px;
   margin-top: 10px;
   float:left;
   margin-right: auto;
   margin-left: 9px
}

#scale {
   background: -moz-linear-gradient(top, rgb(95, 95, 95), rgb(70,70,70));
   background: -webkit-gradient(linear, left top, left bottom, from(rgb(95,95,95)), to(rgb(70, 70, 70)));   
}

#canvasList {
    background-color: white;
    width: auto;
    margin-left: auto;
    margin-right: auto;
   
}

.canvas-label {
    font: bold 12px arial;
    position: fixed;
    left: 52%;
    color: rgb(60,60,60);
}

.canvas {
    margin-bottom: 0px;
    margin-top: 0px;    
    padding: 0px;    
}

.canvas-div {
    border-radius:4px;
    -moz-border-radius: 4px;
    position:relative;
    display:table;
/*        display:inline-block;*/
}

.canvas-div:nth-child(odd) {
    background-color: rgb(240, 248, 255);
}

.canvas-div:nth-child(even) {
    background-color: white;
}

.ui-icon {
    background-image: url(../images/ui-icons_d8e7f3_256x240.png);
}

.option-hover .ui-icon, .ui-state-focus .ui-icon {
    background-image: url(../images/ui-icons_ffffff_256x240.png);
}

.option-control {
    position: fixed;
    left: 16%;
    width:auto;
    display:none;
    border-radius: 2px;
    -moz-border-radius: 2px;
    background-color: rgb(138, 177, 230);
}

.option-control:hover {
    border: 1px solid rgb(100, 100, 100);
}   

ul.subnav {
    list-style: none;
    font: 10px arial;
    margin: 0px;
    margin-top: 2px;
    padding: 0px;
    padding-top: 4px;
    padding-bottom: 4px;
    width: 100%;
    height: 100%;
    background-color: rgb(174, 208, 255);
    background-color: rgb(240, 240, 240);
}

ul.subnav a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}


/*       Button      */
.myButton {
    -moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
    -webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
    box-shadow:inset 0px 1px 0px 0px #ffffff;
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
    background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
    background-color:#ededed;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    border:1px solid #dcdcdc;
    display:inline-block;
    color:#777777;
    font-family:arial;
    font-size:15px;
    font-weight:bold;
    padding:6px 24px;
    text-decoration:none;
    text-shadow:1px 1px 0px #ffffff;
}.myButton:hover {
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
    background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
    background-color:#dfdfdf;
}.myButton:active {
    position:relative;
    top:1px;
}  
   


/*       Footer      */
 
 #footer 
 { 
     bottom:0px; 
     width:100%; 
     height:40px; 
     background-color:#000000; 
     position:absolute; 
     text-align: center;
     color: #e9e9e9;
     font-size: 14px;
     text-shadow: 0 1px 0 rgba(0, 0, 0, 0.8);
     box-shadow: inset 0 1px 10px rgba(0, 0, 0, 0.6);
     overflow: hidden;
     background: #343434 url(../images/dot.png);

 } 
 #footer a {
    color: #e9e9e9;
 }